*, *:before, *:after {
  box-sizing: border-box;
}

body {
	font-family: monospace;
	background: url(../img/background.jpg) no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center; /* Vertikale Zentrierung */
	justify-content: center; /* Horizontale Zentrierung */
	line-height: 1.428571429;
}

.antwortInp, .questionIn, .questionKIn {
	width:400px;
}

.upDownArrow:hover {
	color:blue;
	cursor:pointer;
}

#buttonsDownUnder {
	background: #ffffff;
	padding: 20px;
	margin-top: 70px;
	box-shadow: 3px 5px 35px rgba(0, 0, 0, 0.65);
}

#buttonsDownUnder td{
	padding: 5px;
}
